
    /* 商品圖使用 */
    .ds-container { max-width: 1000px; width:100%; margin: 0 auto 20px; align-items: center;}
    .ds-container img { height: auto; margin: 0 auto;}


    /* 影片使用 */
    .ds-container iframe { margin: 5px;}


    /* 食品業者登錄字號使用 */
    .ds-table-container { width: 100%; max-width: 1000px; margin: auto;}
    .ds-table-container table { width: 100%; border-collapse: collapse; font-family: Arial, sans-serif;}
    .ds-table-container th, .ds-table-container td { border: 1px solid #ccc; padding: 10px 5px; text-align: center;}
    .ds-table-container th { font-size: 15px; background-color: #f2f2f2; font-weight: bold; width: 30%;}
    .ds-table-container td { font-size: 15px; background-color: #fafafa;}

